<div class="container-fluid">

  <div class="encabezado text-center col-12">
    <img class="e-nav d-flecha" data-e-nav="InitScreen" src="img/flecha-atras.svg"/>
    <h2>Acerca del evento</h2>
    <h4>Portfolio - App Encuesta 1</h4>
  </div>
  <div class="col-12">
  <div class="col-12 col-sm-10 offset-sm-1">
    <div class="descripcion">
      <p>
        El segundo documento precisa que el ciclo básico es considerado un "unidad académica"
        y que se promociona al finalizar el segundo año. Además explica que los alumnos que no
        consiguieron la suficiente cantidad de créditos.
      </p>
      <p>
        Además el texto que se conoció el miércoles explica que "los profesores y el equipo tutorial"
        otorgarán los créditos, lo que daria a entender.
      </p>
    </div>

    <div class="row">

      <div class="col-12">
        <img class="disertant-icon" src="img/disertantes.svg"/>
        <h3 class="disertantes-tit">Disertantes</h3>
      </div>

    <div class="col-md-6 offset-md-0">
      <div class="card person-card">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            <h5 class="card-title">Nombre y apellido</h5>
          </div>
          <img class="ml-3" src="img/perfil.jpeg">
        </div>

        <p>
          blandit nunc. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos.
          Vivamus sapien augue, egestas in est at, vulputate
           scelerisque neque. Etiam turpis nibh, eleifend ut justo ut,
           condimentum mattis turpis. Duis varius purus eu nibh pellentesque malesuada.
          Cras mollis id nisl vel mattis. Praesent feugiat lorem a
          pulvinar tempor. Pellentesque pellente
        </p>
      </div>
    </div>
    </div>

    <div class="col-md-6 offset-md-0">
      <div class="card person-card">
      <div class="card-body">
        <div class="media">
          <div class="media-body">
            <h5 class="card-title">Nombre y apellido</h5>
          </div>
          <img class="ml-3" src="img/perfil.jpeg">
        </div>

        <p>
          blandit nunc. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos.
          Vivamus sapien augue, egestas in est at, vulputate
           scelerisque neque. Etiam turpis nibh, eleifend ut justo ut,
           condimentum mattis turpis. Duis varius purus eu nibh pellentesque malesuada.
          Cras mollis id nisl vel mattis. Praesent feugiat lorem a
          pulvinar tempor. Pellentesque pellente
        </p>
      </div>
    </div>
    </div>

    </div>
  </div>
  </div>
</div>
