<div class="container-fluid">

  <div class="encabezado resumen-rta-encabezado col-12">
    <div class="media">
      <img class="mr-3 e-n-confirm" src="img/flecha-atras.svg">
      <div class="media-body">
        <h4 class="mt-0" id="c-title"></h4>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-10 offset-sm-1">

    <div class="col-12">
      <div class="card resumen-rta">
      <div class="card-body">
        <img src="img/respuesta.svg">
        <h3 class="card-title">Tu respuesta fue:</h3>
        <p id="c-respuesta"></p>
      </div>
    </div>
    </div>

    <div class="text-center col-12">
      <span class="btn-lg-yellow col-12 col-sm-10 e-enviar">SIGUIENTE PREGUNTA</span>
    </div>
  </div>

</div>
