<div class="container-fluid">

  <div class="encabezado text-center col-12">
    <img class="e-nav" data-e-nav="InitScreen" src="img/flecha-atras.svg"/>
    <h2>Cuestionario</h2>
    <h4>Portfolio - App Encuesta 1</h4>
  </div>

  <div class="col-12 col-sm-10 offset-sm-1">

    <div class="col-12 encabezado-cuestionario">
      <img src="img/cuestionarios.svg"/>
      <h3 id="c-title"></h3>
      <div class="separador"></div>
      <h4 id="c-name"></h4>
      <p  id="c-hora"></p>
    </div>

    <div class="text-center btn-container col-12">
      <span class="btn-lg-yellow col-10 offset-1 c-start">COMENZAR</span>
    </div>
  </div>

</div>
