<div class="container-fluid">

  <div class="encabezado form-head col-12">
    <h2 class="text-center">Ingreso de datos</h2>
    <h4 class="leyend text-justify">La presente web es una muestra de un frontend de una aplicación de encuestas, en esta versión de prueba los datos son estáticos pero se puede usar un backend para poder contar con funcionalidades de registro de usuario, panel de administración y reportes, entre otras, esta aplicación también se puede ampliar en funcionalidades tanto como sea necesario.

    Por lo cual este formulario puede completarse de cualquier manera y no se generá un registro del mismo.</h4>
  </div>

  <div class="form-cont form-r col-10 col-sm-10 col-md-6 offset-md-3 offset-1">
    <form class="col-12 form-app">
      <div class="form-group row">
        <div class="col-12 f-group">
          <img src="img/nombre.svg"/>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre y apellido">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 f-group">
          <img src="img/email.svg"/>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12 f-group">
          <img src="img/fecha-nacimiento.svg"/>
          <input data-field="date" class="form-control" id="fechaNac" data-date-format="mm/dd/yyyy" placeholder="Fecha de nacimiento">
        </div>
      </div>
    </form>

    <div class="recibir-resultados col-12 text-center">
      <p>¿Le interesaría recibir los resultados una vez finalizado el evento?</p>
      <div>
      <span>No </span><label class="switch">
        <input type="checkbox" id="subscript">
        <span class="slider round"></span>
      </label><span> Si</span>
    </div>
    </div>
  </div>

  <div class="btn-container">
    <div class="col-12 col-sm-6 offset-0 offset-sm-3 btn-ok e-submit">INGRESAR</div>
  </div>
</div>
<div id="dtBox"></div>
