<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Menú</span>
  </nav>

  <div class="col-12"><div class="row">

    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
      <div class="card e-nav" data-e-nav="AcercaEvento">
        <div class="card-body">
          <img src="img/info.svg"/>
          <h3 class="menu-text-tit">Acerca del evento</h3>
          <h4 class="gris-l">Objetivos y disertantes</h4>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-0">
      <div class="card e-nav" data-e-nav="cuestionario1Init">
        <div class="card-body">
          <img src="img/cuestionarios.svg"/>
          <h3 class="menu-text-tit">Cuestionario vigente</h3>
          <h4 class="gris-l">Comenzar a responder sobre la charla</h4>
        </div>
      </div>
    </div>

  </div></div>
</div>
