<div class="container-fluid">

  <div class="encabezado col-12">
    <div class="media">
      <img class="mr-3 e-nav" data-e-nav="InitScreen" src="img/flecha-atras.svg">
      <div class="media-body">
        <h4 class="mt-0" id="c-title"></h4>
      </div>
    </div>
  </div>

    <div class="col-12 encabezado-pregunta">
      <p><small>Elija una sola respuesta</small></p>
      <h4 id="p-title"></h4>
    </div>

    <ul class="list-group list-group-flush col-12 cuestionario">
    </ul>

  <div class="btn-container">
      <div class="col btn-nsnc e-nr">NO RESPONDER</div>
      <div class="col btn-ok e-confirm">CONFIRMAR RTA.</div>
  </div>

</div>
